@import "../../vars.css";

.container {
  background-color: var(--color-bg-grey);
  margin: 2rem auto;
  padding: 4rem 8rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 35rem;
  margin-right: 3rem;
}

.title {
  color: var(--color-primary);
  font-size: 3rem;
  line-height: 1.2;
  margin: 1rem 0;
  font-weight: 900;
}

.description {
  color: var(--color-primary-medium);
  font-family: var(--font-mulish);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4;
  margin: 1rem 0 2rem 0;
}

.socialLinks {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.socialLink {
  font-size: 2rem;
  border-radius: 1rem;
  color: var(--color-primary);
  cursor: pointer;
}

.imgContainer img {
  background-color: rgb(219, 199, 238);
  box-shadow: 0 4px 5px 4px #a89e9b, 4px 5px 4px #a89e9b;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transition: all 1s ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-primary-light);
  margin-top: 2rem;
  font-size: 1.2rem;
}

.skills p {
  font-family: var(--font-mulish);
  color: var(--color-primary);
  line-height: 1;
  font-weight: 500;
  margin-right: 4rem;
  padding-right: 2rem;
  border-right: 2px solid rgba(45, 46, 50, 0.5);
}

.skillItems {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.skillImg {
  border-radius: 10px;
  height: 50px;
  width: 50px;
}

@media screen and (max-width: 830px) {
  .container {
    padding: 4rem 0.5rem;
  }

  .content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .details {
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .title {
    text-align: center;
  }

  .description {
    text-align: center;
  }

  .skills {
    margin: 1rem 0.5rem;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .skills p {
    font-family: var(--font-mulish);
    color: var(--color-primary);
    line-height: 1;
    font-weight: 500;
    margin: 0 0 2rem 0;
    padding: 0 0 1rem 0;
    border-right: none;
    border-bottom: 2px solid rgba(45, 46, 50, 0.5);
  }

  .skillItems {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 640px) {
  .imgContainer img {
    height: 15rem;
    width: 15rem;
  }
}
